pandas
numpy
google-cloud-bigquery
google-auth
functions-framework
google-cloud-aiplatform
db-dtypes
psycopg2-binary
python-dotenv
statsmodels
openpyxl
unidecode
matplotlib
seaborn
geopandas
scikit-learn
tabulate
google-genai
streamlit==1.34.0
protobuf==3.20.3
boto3
scikit-learn 
tensorflow
imbalanced-learn
folium
geopy
pydot
graphviz
faiss-cpu
category_encoders
nltk
stop-words 
sentence-transformers 
faiss-cpu 
numpy 
pandas 
scikit-learn
datasets
xgboost
